// COLORS

// MAIN COLOR AND TINTS
$MAIN_COLOR: #0275bd;
$MAIN_COLOR_TINT_1: #005083;
$MAIN_COLOR_TINT_2: #3591ca;
$MAIN_COLOR_TINT_3: #5199c6;
$MAIN_COLOR_TINT_4: #80bade;
$MAIN_COLOR_TINT_5: #bad0de;
$MAIN_COLOR_TINT_6: #c3d9e7;
$MAIN_COLOR_TINT_7: #e6f1f8;

// SECONDARY COLOR AND TINTS
$SECONDARY_COLOR: #ab3275;
$SECONDARY_COLOR_TINT_1: #d599ba;
$SECONDARY_COLOR_TINT_2: #fcd0e8;

// BLACK, WHITE AND GREY SCALE
$DARK_COLOR: #02273e;
$LIGHT_COLOR: #fafafa;
$LIGHT_COLOR_TINT_2: #F8F9FA;
$GREY_COLOR_1: #355265;
$GREY_COLOR_2: #8d9091;
$GREY_COLOR_3: #b2bdc4;
$GREY_COLOR_4: #cccccc;
$GREY_COLOR_5: #E0E3E5;
$GREY_COLOR_6: #ebebeb;
$GREY_COLOR_7: #f3f3f3;

// FUNCTIONAL COLORS
$ERROR_COLOR: #c5292a;
$SOFT_ERROR_COLOR: #fcf4f4;
$WARNING_COLOR: #DEA000;
$SOFT_WARNING_COLOR: #fffcf2;
$SUCCESS_COLOR: #22b02e;
$SOFT_SUCCESS_COLOR: #f4fbf5;
$NAVY_COLOR: #191489;
$SOFT_NAVY_COLOR: #f3f3f9;

// COLORS
$COLOR_TINT_1: #49a691;
$COLOR_TINT_2: #0275bd;
$COLOR_TINT_3: #677d8c;
$COLOR_TINT_4: #EAC96C;
$COLOR_TINT_5: #02BDB6;
$COLOR_TINT_6: #E58453;

// OTHER COLORS
$TREE_CHECKBOX_BG: #1976d2;
$PLACEHOLDER: #6c757d;
$GREY_SEPARATOR: #d5dce0;
$OTHER_COLOR_1: #ced4da;
$OTHER_COLOR_2: #b6d0e1;
$OTHER_COLOR_3: #6e767d;
$OTHER_COLOR_4: #495057;
$OTHER_COLOR_5: #80939F;
$OTHER_COLOR_6: #4CAF50;
$OTHER_COLOR_8: #FBFBFB;
$OTHER_COLOR_7: #E9ECEF;
$OTHER_COLOR_9: #F4385A;
$OTHER_COLOR_10: #2D4D61;
$OTHER_COLOR_11: #E5E9EB;

:root {
  --MAIN_COLOR: #{$MAIN_COLOR};
  --MAIN_COLOR_TINT_1: #{$MAIN_COLOR_TINT_1};
  --MAIN_COLOR_TINT_2: #{$MAIN_COLOR_TINT_2};
  --MAIN_COLOR_TINT_3: #{$MAIN_COLOR_TINT_3};
  --MAIN_COLOR_TINT_4: #{$MAIN_COLOR_TINT_4};
  --MAIN_COLOR_TINT_5: #{$MAIN_COLOR_TINT_5};
  --MAIN_COLOR_TINT_6: #{$MAIN_COLOR_TINT_6};
  --MAIN_COLOR_TINT_7: #{$MAIN_COLOR_TINT_7};
  --SECONDARY_COLOR: #{$SECONDARY_COLOR};
  --SECONDARY_COLOR_TINT_1: #{$SECONDARY_COLOR_TINT_1};
  --SECONDARY_COLOR_TINT_2: #{$SECONDARY_COLOR_TINT_2};
  --DARK_COLOR: #{$DARK_COLOR};
  --LIGHT_COLOR: #{$LIGHT_COLOR};
  --LIGHT_COLOR_TINT_2: #{$LIGHT_COLOR_TINT_2};
  --GREY_COLOR_1: #{$GREY_COLOR_1};
  --GREY_COLOR_2: #{$GREY_COLOR_2};
  --GREY_COLOR_3: #{$GREY_COLOR_3};
  --GREY_COLOR_4: #{$GREY_COLOR_4};
  --GREY_COLOR_5: #{$GREY_COLOR_5};
  --GREY_COLOR_6: #{$GREY_COLOR_6};
  --GREY_COLOR_7: #{$GREY_COLOR_7};
  --ERROR_COLOR: #{$ERROR_COLOR};
  --SOFT_ERROR_COLOR: #{$SOFT_ERROR_COLOR};
  --WARNING_COLOR: #{$WARNING_COLOR};
  --SOFT_WARNING_COLOR: #{$SOFT_WARNING_COLOR};
  --SUCCESS_COLOR: #{$SUCCESS_COLOR};
  --SOFT_SUCCESS_COLOR: #{$SOFT_SUCCESS_COLOR};
  --NAVY_COLOR: #{$NAVY_COLOR};
  --SOFT_NAVY_COLOR: #{$SOFT_NAVY_COLOR};
  --COLOR_TINT_1: #{$COLOR_TINT_1};
  --COLOR_TINT_2: #{$COLOR_TINT_2};
  --COLOR_TINT_3: #{$COLOR_TINT_3};
  --COLOR_TINT_4: #{$COLOR_TINT_4};
  --COLOR_TINT_5: #{$COLOR_TINT_5};
  --COLOR_TINT_6: #{$COLOR_TINT_6};
  --TREE_CHECKBOX_BG: #{$TREE_CHECKBOX_BG};
  --PLACEHOLDER: #{$PLACEHOLDER};
  --GREY_SEPARATOR: #{$GREY_SEPARATOR};
  --OTHER_COLOR_1: #{$OTHER_COLOR_1};
  --OTHER_COLOR_2: #{$OTHER_COLOR_2};
  --OTHER_COLOR_3: #{$OTHER_COLOR_3};
  --OTHER_COLOR_4: #{$OTHER_COLOR_4};
  --OTHER_COLOR_5: #{$OTHER_COLOR_5};
  --OTHER_COLOR_6: #{$OTHER_COLOR_6};
  --OTHER_COLOR_7: #{$OTHER_COLOR_7};
  --OTHER_COLOR_8: #{$OTHER_COLOR_8};
  --OTHER_COLOR_9: #{$OTHER_COLOR_9};
  --OTHER_COLOR_10: #{$OTHER_COLOR_10};
  --OTHER_COLOR_11: #{$OTHER_COLOR_11};
}
