/********** VARIABLES **********/

/*---------- TYPOGRAPHY -------*/
$FONT_FAMILY: 'Lato', sans-serif;

// Font sizes
$TEXT_XXS: '0.625rem';
$TEXT_XS: '0.75rem';
$TEXT_SM: '0.875';
$TEXT_BASE: '1rem';
$TEXT_XL: '1.25rem';
$TEXT_2XL: '1.5rem';
$TEXT_3XL: '1.75rem';
$TEXT_4XL: '2.125rem';
$TEXT_5XL: '3rem';
$TEXT_6XL: '3.75rem';
$TEXT_8XL: '6rem';

// Letter Spacings
$LETTER_SPACING_XXS: 0.25px;
$LETTER_SPACING_XS: 0.15px;
$LETTER_SPACING_SM: 0.25px;
$LETTER_SPACING_BASE: 0.5px;
$LETTER_SPACING_XL: 0.15px;
$LETTER_SPACING_4XL: 0.25px;
$LETTER_SPACING_5XL: 0;
$LETTER_SPACING_6XL: -0.5px;
$LETTER_SPACING_8XL: -1.5px;

/*---------- LAYOUT -------*/

$HEADER_HEIGHT: 58px;
$SIDEBAR_CLOSED_WIDTH: 50px;
$SIDEBAR_OPENED_WIDTH: 220px;

/********************/

// RADIUS
$DEFAULT_RADIUS: 4px;

:root {
  --FONT_FAMILY: #{$FONT_FAMILY};
  --TEXT_XXS: #{$TEXT_XXS};
  --TEXT_XS: #{$TEXT_XS};
  --TEXT_SM: #{$TEXT_SM};
  --TEXT_BASE: #{$TEXT_BASE};
  --TEXT_XL: #{$TEXT_XL};
  --TEXT_2XL: #{$TEXT_2XL};
  --TEXT_3XL: #{$TEXT_3XL};
  --TEXT_4XL: #{$TEXT_4XL};
  --TEXT_5XL: #{$TEXT_5XL};
  --TEXT_6XL: #{$TEXT_6XL};
  --TEXT_8XL: #{$TEXT_8XL};
  --LETTER_SPACING_XXS: #{$LETTER_SPACING_XXS};
  --LETTER_SPACING_XS: #{$LETTER_SPACING_XS};
  --LETTER_SPACING_SM: #{$LETTER_SPACING_SM};
  --LETTER_SPACING_BASE: #{$LETTER_SPACING_BASE};
  --LETTER_SPACING_XL: #{$LETTER_SPACING_XL};
  --LETTER_SPACING_4XL: #{$LETTER_SPACING_4XL};
  --LETTER_SPACING_6XL: #{$LETTER_SPACING_6XL};
  --LETTER_SPACING_8XL: #{$LETTER_SPACING_8XL};
  --DEFAULT-RADIUS: #{$DEFAULT_RADIUS};
  --HEADER_HEIGHT: #{$HEADER_HEIGHT};
  --SIDEBAR_CLOSED_WIDTH: #{$SIDEBAR_CLOSED_WIDTH};
  --SIDEBAR_OPENED_WIDTH: #{$SIDEBAR_OPENED_WIDTH};
}
